.fullSizeContainer {
	@apply relative h-[85svh] hidden md:block;
}

.heroImg {
	@apply object-cover;
}

.heroAdd {
	@apply absolute w-2/3 top-1/3 left-1/3;
}

.inBetweenContainer {
	@apply relative h-[80svh] inBetweenMobileHeroOne:h-[90svh] hidden inBetweenMobileHero:block md:hidden;
}

.inBetweenMobileHero {
	@apply object-cover;
}

.inBetweenHeroAdd {
	@apply absolute top-24;
}

.mobileContainer {
	@apply relative h-[80svh] mobileHeroSM:h-[90svh] inBetweenMobileHero:hidden;
}

.mobileHeroImg {
	@apply object-cover bg-gradient-to-b from-inherit to-transparent;
}

.mobileHeroAdd {
	@apply absolute w-[80%] top-1/4;
}

.heroLineOne {
	visibility: hidden;
	opacity: 0;
	animation: fadeInSlow 3s ease forwards;
	animation-delay: 1.75s;
	@apply absolute;
}

.heroLineTwo {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	animation: fadeInSlow 3s ease forwards;
	animation-delay: 2s;
}

.heroLineThree {
	visibility: hidden;
	opacity: 0;
	animation: fadeInSlow 3s ease forwards;
	animation-delay: 3.5s;
}

@keyframes fadeInSlow {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

.gradientContainer {
	@apply h-[5svh] relative border-white border-[9px];
}
